@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-1;
  }

  @font-face {
    font-family: "Heading";
    src: url("./fonts/Montserrat-Bold.ttf");
  }

  @font-face {
    font-family: "Subheading";
    src: url("./fonts/Montserrat-Medium.ttf");
  }

  @font-face {
    font-family: "Content";
    src: url("./fonts/Montserrat-Regular.ttf");
  }
}

*::-webkit-scrollbar {
  display: none;
}
